@font-face {
  font-family: "iconfont"; /* Project id 4663363 */
  src: url('iconfont.woff2?t=1725684515193') format('woff2'),
       url('iconfont.woff?t=1725684515193') format('woff'),
       url('iconfont.ttf?t=1725684515193') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-scan:before {
  content: "\e63d";
}

.icon-qq:before {
  content: "\e66a";
}

.icon-imagewechat:before {
  content: "\e684";
}

.icon-eye_open:before {
  content: "\e628";
}

.icon-eye-close:before {
  content: "\e7b9";
}

.icon-top:before {
  content: "\e607";
}

.icon-feedback:before {
  content: "\e60f";
}

.icon-service:before {
  content: "\e7bb";
}

.icon-close:before {
  content: "\e60c";
}

.icon-angle-left-o:before {
  content: "\e608";
}

.icon-angle-right-o:before {
  content: "\e609";
}

.icon-ShopCar:before {
  content: "\e6e5";
}

.icon-fangdajing:before {
  content: "\e610";
}

